body{
    background-color: black;
    color:white;
    margin:0;
}
#Title{
    position:absolute;
    top:0;
    width:100vw;
    height:10vh;
    margin: 0;
    padding: 0;
    text-align: center;
    border:dashed;
    border-color:red;
    box-sizing: border-box;
}
#InnerTitle{
    position: absolute;
    margin: 0;
    padding: 0;
}
#TopLine{
    position: absolute;
    top:21vh;
    width:100vw;
    box-sizing: border-box;
    margin:0;
}
#SinglePlayer{
    position: absolute;
    box-sizing: border-box;
    margin:0;
    top:22vh;
    width:100vw;
    height:10vh;
}
#Multiplayer{
    position: absolute;
    box-sizing: border-box;
    margin:0;
    top:32vh;
    width:100vw;
    height:10vh;
}
#Settings{
    position: absolute;
    box-sizing: border-box;
    margin:0;
    top:42vh;
    width:100vw;
    height:10vh;
}
#bottomLine{
    position: absolute;
    top:53vh;
    width:100vw;
    box-sizing: border-box;
    margin:0;
}
canvas{
    position: absolute;
    box-sizing: border-box;
}