body{
    background-color: black;
    color:white;
    margin:0;
	font-family:'Press Start 2P';
}
#InnerTitle{
    font: inherit;
}
#menus{
    font-size: 5vmin;
}
/*
MENUS.style.fontSize = `${5/100*SCALE}px`
InnerTitle.style.width = `${100/100*SCALE}px`
InnerTitle.style.left = `${(window.innerWidth/2)-(SCALE/2)}px`
InnerTitle.style.top = `${(10/100*window.innerHeight/2)-(5/100*SCALE/1.5)}px`
document.getElementById('Title').style.borderWidth = `${1/100*SCALE}px`*/
#Title{
    position:absolute;
    top:0;
    width:100vw;
    height:10vh;
    margin: 0;
    padding: 0;
    text-align: center;
    border:dashed;
    border-color:red;
    box-sizing: border-box;
}
#InnerTitle{
    box-sizing: border-box;
    font-size:5vmin;
    position: absolute;
    margin: 0;
    padding: 0;
    width:99vw;
    height:50%;
    /*font: inherit;*/
    top:calc(50%/2);
		left:0.1vw;
    
}
#TopLine{
    position: absolute;
    top:21vh;
    width:100vw;
    box-sizing: border-box;
    margin:0;
}
#SinglePlayer{
    position: absolute;
    box-sizing: border-box;
    margin:0;
    top:22vh;
    width:100vw;
    height:10vh;
	font: inherit;
    font-size:5vmin;
}
#Multiplayer{
    position: absolute;
    box-sizing: border-box;
    margin:0;
    top:32vh;
    width:100vw;
    height:10vh;
    font: inherit;
    font-size:5vmin;
}
#Settings{
    position: absolute;
    box-sizing: border-box;
    margin:0;
    top:42vh;
    width:100vw;
    height:10vh;
    font: inherit;
    font-size:5vmin;
}
#bottomLine{
    position: absolute;
    top:53vh;
    width:100vw;
    box-sizing: border-box;
    margin:0;
}
canvas{
    position: absolute;
    box-sizing: border-box;
}
@font-face {
    font-family:"Press Start 2P";
    src: url("PressStart2P-Regular.ttf") format("truetype");
}